APP_PG_CONNSTR=postgres://user:pass@localhost:5432/mydb?sslmode=disable
APP_PG_MAX_CONNS=25
APP_PG_MIN_CONNS=2
APP_PG_MAX_CONN_LIFETIME=1800
APP_PG_MAX_CONN_IDLE_TIME=300

APP_HASHER_COST=12

JWT_SECRET=top_secret_key
APP_JWT_TTL=24h

APP_GRPC_ADDR=:50051

APP_REDIS_ADDR=localhost:6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0

APP_THROTTLE_MAX_ATTEMPTS=10
APP_THROTTLE_BLOCK_DURATION=5m